/* CSS Document */

@font-face {
    font-family: 'ChollaSansBoldBold';
    src: url('font/chollsanbol-071211005EmigreWebOnly.eot');
    src: url('font/chollsanbol-071211005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('font/chollsanbol-071211005EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ChollaSansRegularMedium';
    src: url('font/chollsanreg-071211005EmigreWebOnly.eot');
    src: url('font/chollsanreg-071211005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
url('font/chollsanreg-071211005EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: AvenirMedium;
    src: url('font/SourceSansPro-Regular.eot');
    src: url('font/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('font/SourceSansPro-Regular.woff') format('woff'),
         url('font/SourceSansPro-Regular.ttf') format('truetype'),
         url('font/SourceSansPro-Regular.svg#NeuesBauenDemo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SourceSansProLight;
    src: url('font/SourceSansPro-Light.eot');
    src: url('font/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
         url('font/SourceSansPro-Light.woff') format('woff'),
         url('font/SourceSansPro-Light.ttf') format('truetype'),
         url('font/SourceSansPro-Light.svg#NeuesBauenDemo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: AvenirMedium;
    src: url('font/SourceSansPro-Semibold.eot');
    src: url('font/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
         url('font/SourceSansPro-Semibold.woff') format('woff'),
         url('font/SourceSansPro-Semibold.ttf') format('truetype'),
         url('font/SourceSansPro-Semibold.svg#NeuesBauenDemo') format('svg');
    font-weight: normal;
    font-style: normal;
}




html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
img { border: 0 none; vertical-align: top; }
ul, li { list-style-type: none; }

html{background:#FFF;height:100%;-webkit-text-size-adjust: none;}
body, input, select, button, textarea { font-size: 12px; font-family: AvenirMedium, Tahoma, Geneva, sans-serif; }
body{-webkit-text-size-adjust:none;height:inherit!important;height:100%;}
button { cursor: pointer; }
i, em, cite { font-style: normal; }
body {color: #333;}
a, a:link { text-decoration: none; }
a:visited {}
p{}
a:active, a:hover {text-decoration: underline; }
a:focus { outline: none; }
.clear { diplay: block!important; float: none!important; clear: both; overflow: hidden; width: auto!important; height: 0!important; margin: 0 auto!important; padding: 0!important; font-size: 0; line-height: 0;border:0px!important;}
.Reserved { height:50px;}


.blackWrap{ background-color:rgba(0,0,0,0.5);height:100%;width:100%;background-size:100%;}
.mainWrap{ text-align:center;}

.edpenPopup{width:765px;height:805px;}
.edpenHeader{background-color:#7c8b99;color:#fff;height:40px; text-align:center; position:relative;font:17px/40px AvenirMedium, Arial, Helvetica, sans-serif;}
.edpenHeader .btnLeftPosition{position:absolute;left:10px;}
.edpenHeader .edpenNavBar{display:inline-block;}
.edpenHeader .edpenNavBar li{float:left;margin:0px 8px;}
.edpenHeader .edpenNavBar li a{display:block;text-indent:-99999px;}
.edpenHeader .edpenNavBar .size{margin-top:9px;}
.edpenHeader .edpenNavBar .size a{ background:url(../images/edPen/size-ico.png) no-repeat;width:22px;height:22px;}
.edpenHeader .edpenNavBar .size a:hover{ background:url(../images/edPen/size-ico.png) bottom center no-repeat;width:22px;height:22px;}
.edpenHeader .edpenNavBar .image{margin-top:10px;}
.edpenHeader .edpenNavBar .image a{ background:url(../images/edPen/image-ico.png) no-repeat;width:25px;height:21px;}
.edpenHeader .edpenNavBar .image a:hover{ background:url(../images/edPen/image-ico.png) bottom center no-repeat;width:25px;height:21px;}

.edpenHeader .edpenNavBar .papers1{margin-top:6px;}
.edpenHeader .edpenNavBar .papers1 a{background:url(../images/edPen/papers1-ico.png) no-repeat;width:20px;height:27px;}
.edpenHeader .edpenNavBar .papers1 a:hover{background:url(../images/edPen/papers1-ico.png) bottom center no-repeat;width:20px;height:27px;}

.edpenHeader .edpenNavBar .papers2{margin-top:6px;}
.edpenHeader .edpenNavBar .papers2 a{background:url(../images/edPen/papers2-ico.png) no-repeat;width:20px;height:27px;}
.edpenHeader .edpenNavBar .papers2 a:hover{background:url(../images/edPen/papers2-ico.png) bottom center no-repeat;width:20px;height:27px;}

.edpenHeader .edpenNavBar .papers3{margin-top:6px;}
.edpenHeader .edpenNavBar .papers3 a{background:url(../images/edPen/papers3-ico.png) no-repeat;width:20px;height:27px;}
.edpenHeader .edpenNavBar .papers3 a:hover{background:url(../images/edPen/papers3-ico.png) bottom center no-repeat;width:20px;height:27px;}

.edpenHeader .edpenNavBar .fontColor{margin-top:9px;}
.edpenHeader .edpenNavBar .fontColor a{background:url(../images/edPen/fontColor-ico.png) no-repeat;width:16px;height:23px;}
.edpenHeader .edpenNavBar .fontColor a:hover{background:url(../images/edPen/fontColor-ico.png) bottom center no-repeat;width:16px;height:23px;}

.edpenHeader .edpenNavBar .brush1{margin-top:9px;}
.edpenHeader .edpenNavBar .brush1 a{background:url(../images/edPen/brush/brush1-ico.png) no-repeat;width:23px;height:23px;}
.edpenHeader .edpenNavBar .brush1 a:hover{background:url(../images/edPen/brush/brush1-ico.png) bottom center no-repeat;width:23px;height:23px;}

.edpenHeader .edpenNavBar .brush2{margin-top:9px;}
.edpenHeader .edpenNavBar .brush2 a{background:url(../images/edPen/brush/brush2-ico.png) no-repeat;width:23px;height:23px;}
.edpenHeader .edpenNavBar .brush2 a:hover{background:url(../images/edPen/brush/brush2-ico.png) bottom center no-repeat;width:23px;height:23px;}

.edpenHeader .edpenNavBar .brush3{margin-top:9px;}
.edpenHeader .edpenNavBar .brush3 a{background:url(../images/edPen/brush/brush3-ico.png) no-repeat;width:23px;height:23px;}
.edpenHeader .edpenNavBar .brush3 a:hover{background:url(../images/edPen/brush/brush3-ico.png) center -178px no-repeat;width:23px;height:23px;}

.edpenHeader .edpenNavBar .brush4{margin-top:9px;}
.edpenHeader .edpenNavBar .brush4 a{background:url(../images/edPen/brush/brush4-ico.png) no-repeat;width:23px;height:23px;}
.edpenHeader .edpenNavBar .brush4 a:hover{background:url(../images/edPen/brush/brush4-ico.png) bottom center no-repeat;width:23px;height:23px;}

.edpenHeader .edpenNavBar .brush5{margin-top:9px;}
.edpenHeader .edpenNavBar .brush5 a{background:url(../images/edPen/brush/brush5-ico.png) center 3px no-repeat;width:23px;height:23px;}
.edpenHeader .edpenNavBar .brush5 a:hover{background:url(../images/edPen/brush/brush5-ico.png) center -180px no-repeat;width:23px;height:23px;}

.edpenHeader .edpenNavBar .brush6{margin-top:9px;}
.edpenHeader .edpenNavBar .brush6 a{background:url(../images/edPen/brush/brush6-ico.png) center 3px no-repeat;width:23px;height:23px;}
.edpenHeader .edpenNavBar .brush6 a:hover{background:url(../images/edPen/brush/brush6-ico.png) center -179px no-repeat;width:23px;height:23px;}

.edpenHeader .edpenNavBar .brush7{margin-top:9px;}
.edpenHeader .edpenNavBar .brush7 a{background:url(../images/edPen/brush/brush7-ico.png) center 3px no-repeat no-repeat;width:23px;height:23px;}
.edpenHeader .edpenNavBar .brush7 a:hover{background:url(../images/edPen/brush/brush7-ico.png) center -180px no-repeat;width:23px;height:23px;}

.edpenHeader .edpenNavBar .brush8{margin-top:9px; }
.edpenHeader .edpenNavBar .brush8 a{background:url(../images/edPen/brush/brush8-ico.png) center 3px no-repeat no-repeat;width:23px;height:23px;}
.edpenHeader .edpenNavBar .brush8 a:hover{background:url(../images/edPen/brush/brush8-ico.png) center -179px no-repeat;width:23px;height:23px;}





.edpenHeader .edpenNavBar .revocation{margin-top:11px;}
.edpenHeader .edpenNavBar .revocation a{background:url(../images/edPen/revocation-ico.png) no-repeat;width:25px;height:20px;}
.edpenHeader .edpenNavBar .revocation.select a{background:url(../images/edPen/revocation-ico.png) bottom center no-repeat;width:25px;height:20px;}

.edpenHeader .edpenNavBar .recover{margin-top:11px;}
.edpenHeader .edpenNavBar .recover a{background:url(../images/edPen/recover-ico.png) no-repeat;width:25px;height:20px;}
.edpenHeader .edpenNavBar .recover.select a{background:url(../images/edPen/recover-ico.png) bottom center no-repeat;width:25px;height:20px;}

.edpenHeader .edpenNavBar .disable{margin-top:11px;}
.edpenHeader .edpenNavBar .disable a{ background-position:center -180px;width:25px;height:20px;}
.edpenHeader .edpenNavBar .disable.select a{background:url(../images/edPen/revocation-ico.png) bottom center no-repeat;width:25px;height:20px;}


.edpenHeader .edpenNavBar .clearBtn{margin-top:9px;}
.edpenHeader .edpenNavBar .clearBtn a{background:url(../images/edPen/export-ico.png) no-repeat;width:18px;height:25px;}
.edpenHeader .edpenNavBar .clearBtn a:hover{background:url(../images/edPen/export-ico.png) bottom center no-repeat;width:18px;height:25px;}
.edpenHeader .editBtn{ position:absolute;right:10px;top:6px;}
.edpenHeader .editBtn a{ background:url(../images/edPen/edit-ico.png) no-repeat;width:19px;height:27px;display:block; text-indent:-99999px;}
.edpenHeader .editBtn a:hover{ background:url(../images/edPen/edit-ico.png) bottom center no-repeat;width:19px;height:27px;display:block; text-indent:-99999px;}
.edpenHeader a{color:#fff; text-decoration:none;}
.edpenHeader a:hover{color:#97d5ff;}

.edpenPopup{position:relative;}
.edpenPopup .edpenBody{height:600px; position:relative;}
.edpenPopup .edpenBody canvas{position: absolute; left:0px;top:0px;}
.edpenPopup .graphBg{ background:url(../images/edPen/graph-bg.png) repeat;}
.edpenPopup .linedBg{background:url(../images/edPen/lined-bg.png) repeat;}

.sizeTooltip{position:absolute;left:90px;z-index:100;}
.sizeTooltip .arrow{text-align:center;}
.sizeTooltip .tooltipBody{background:#fff;border-radius:8px; box-shadow:0px 0px 3px rgba(0,0,0,0.3);}
.sizeTooltip .tooltipBody .titleBar{position:relative; text-align:center;font:17px/40px AvenirMedium, Arial, Helvetica, sans-serif;}
.sizeTooltip .tooltipBody .titleBar .title{ display:inline-block; font-family:AvenirMedium;margin:0px 70px;}
.sizeTooltip .tooltipBody .titleBar .rightBtn{ position:absolute;right:10px;top:0px;}
.sizeTooltip .tooltipBody .titleBar .rightBtn a{color:#7e7ed1;}

.sizeTooltip .tooltipBody .rangeBody{padding:5px 0px 20px 0px;margin:0px 10px;}
.sizeTooltip .tooltipBody .rangeBody input{vertical-align:middle;}
.sizeTooltip .tooltipBody .rangeBody label{vertical-align:middle;font:15px AvenirMedium, Arial, Helvetica, sans-serif;margin:0px 0px 0px 20px;}

.sizeTooltip .tooltipBody .rangeBody input[type='range'] {-webkit-appearance: none;border-radius:5px;background-color:#b6b6b6;height:1px;vertical-align: middle; outline:none;width:240px;}
.sizeTooltip .tooltipBody .rangeBody  input[type='range']::-moz-range-track {-moz-appearance: none;border-radius: 5px;box-shadow: inset 0 0 5px #333;background-color: #999;		height: 10px;}
.sizeTooltip .tooltipBody .rangeBody  input[type='range']::-webkit-slider-thumb {-webkit-appearance: none !important; background:url(../images/edPen/range-ico.png) no-repeat;width:31px;height:33px;}
.sizeTooltip .tooltipBody .rangeBody input[type='range']::-moz-range-thumb {-moz-appearance: none;border-radius: 20px;background-color: #FFF;box-shadow:inset 0 0 10px rgba(000,000,000,0.5);border: 1px solid #999;height: 20px;width: 20px;}



.imageTooltip{position:absolute;left:90px;z-index:100;}
.imageTooltip .arrow{text-align:center;}
.imageTooltip .tooltipBody{background:#fff;border-radius:8px; box-shadow:0px 0px 3px rgba(0,0,0,0.3);width:400px;}
.imageTooltip .tooltipBody .imagePosition{padding:30px 0px 0px;}
.imageTooltip .tooltipBody .imagePosition ul li{float:left;width:80px;height:70px;-moz-box-sizing:border-box;box-sizing:border-box;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(5n) a{border-right:0px;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(6) a{border-top:0px!important;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(7) a{border-top:0px!important;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(8) a{border-top:0px!important;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(9) a{border-top:0px!important;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(10) a{border-top:0px!important;}

.imageTooltip .tooltipBody .imagePosition ul li a{width:80px;height:70px; display:block; text-align:center;color:#333;font:12px Arial, Helvetica, sans-serif;padding:50px 0px 0px 0px;-moz-box-sizing:border-box;box-sizing:border-box; text-decoration:none;border-top:1px solid #c4c4c4;border-right:1px solid #c4c4c4;border-bottom:1px solid #b4b4b4;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(1) a{background:url(../images/edPen/image-expand-ico.png) center -160px no-repeat #f9f9f9;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(2) a{background:url(../images/edPen/image-top-ico.png) center -156px no-repeat #f9f9f9;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(3) a{background:url(../images/edPen/image-bottom-ico.png) center -156px no-repeat #f9f9f9;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(4) a{background:url(../images/edPen/image-left-ico.png) center -156px no-repeat #f9f9f9;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(5) a{background:url(../images/edPen/image-right-ico.png) center -156px no-repeat #f9f9f9;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(6) a{background:url(../images/edPen/image-center-ico.png) center -156px no-repeat #f9f9f9;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(7) a{background:url(../images/edPen/image-topLeft-ico.png) center -156px no-repeat #f9f9f9;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(8) a{background:url(../images/edPen/image-topRight-ico.png) center -156px no-repeat #f9f9f9;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(9) a{background:url(../images/edPen/image-bottomLeft-ico.png) center -156px no-repeat #f9f9f9;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(10) a{background:url(../images/edPen/image-bottomRight-ico.png) center -156px no-repeat #f9f9f9;}

.imageTooltip .tooltipBody .imagePosition ul li.select a{color:#7474c9;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(1).select a{background:url(../images/edPen/image-expand-ico.png) center 15px no-repeat #b4b4b4;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(2).select a{background:url(../images/edPen/image-top-ico.png) center 12px no-repeat #b4b4b4;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(3).select a{background:url(../images/edPen/image-bottom-ico.png) center 12px no-repeat #b4b4b4;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(4).select a{background:url(../images/edPen/image-left-ico.png) center 12px no-repeat #b4b4b4;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(5).select a{background:url(../images/edPen/image-right-ico.png) center 12px no-repeat #b4b4b4;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(6).select a{background:url(../images/edPen/image-center-ico.png) center 12px no-repeat #b4b4b4;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(7).select a{background:url(../images/edPen/image-topLeft-ico.png) center 12px no-repeat #b4b4b4;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(8).select a{background:url(../images/edPen/image-topRight-ico.png) center 12px no-repeat #b4b4b4;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(9).select a{background:url(../images/edPen/image-bottomLeft-ico.png) center 12px no-repeat #b4b4b4;}
.imageTooltip .tooltipBody .imagePosition ul li:nth-child(10).select a{background:url(../images/edPen/image-bottomRight-ico.png) center 12px no-repeat #b4b4b4;}

.imageTooltip .tooltipBody .imageLibrary{}
.imageTooltip .tooltipBody .imageLibrary .selectBtn{position:relative;}
.imageTooltip .tooltipBody .imageLibrary .selectBtn input{opacity:0.0;width:400px;height:45px;}
.imageTooltip .tooltipBody .imageLibrary .title{background:#f0f0f0;font:17px/35px AvenirMedium, Arial, Helvetica, sans-serif;color:#333;}
.imageTooltip .tooltipBody .imageLibrary .selectBtn .btn { position:absolute; top:0px;}
.imageTooltip .tooltipBody .imageLibrary .selectBtn  div a{ background:url(../images/edPen/imageLibrary-ico.png) 60px 8px no-repeat;font:17px/45px AvenirMedium, Arial, Helvetica, sans-serif;width:400px;height:45px; display:block;color:#999999; text-decoration:none;-moz-box-sizing:border-box;box-sizing:border-box;padding-left:120px; text-align:left;}
.imageTooltip .tooltipBody .imageLibrary .selectBtn  div a:hover{background:url(../images/edPen/imageLibrary-ico.png) 60px -160px no-repeat;font:17px/45px AvenirMedium, Arial, Helvetica, sans-serif;}


.paperTooltip{position:absolute;left:180px;z-index:100;}
.paperTooltip .arrow{text-align:center;}
.paperTooltip .tooltipBody{background:#fff;border-radius:8px; box-shadow:0px 0px 3px rgba(0,0,0,0.3);width:400px;}
.paperTooltip .tooltipBody{width:296px;-moz-box-sizing:border-box;box-sizing:border-box;}
.paperTooltip .tooltipBody .colorList ul{padding:0px 10px;}
.paperTooltip .tooltipBody .colorList ul li{float:left;margin:10px 5px;height:auto;border:0px!important;padding:0px;-moz-box-sizing:border-box;box-sizing:border-box;}
.paperTooltip .tooltipBody .colorList ul li a{width:36px;height:36px;display:block; text-indent:-9999px;border-radius:100px;box-shadow:0px 0px 5px rgba(51,51,51,0.4);padding:0px;border:0px;margin:0px;}

.paperTooltip .tooltipBody .colorList ul li.select a{border:3px solid #CFF;-moz-box-sizing:border-box;box-sizing:border-box;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(1) a{background:#000000;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(2) a{background:#fff;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(3) a{background:#bb0000;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(4) a{background:#ff0000;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(5) a{background:#ff9900;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(6) a{background:#ffff00;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(7) a{background:#00ff00;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(8) a{background:#00ffff;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(9) a{background:#4d8cf2;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(10) a{background:#0000ff;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(11) a{background:#9900ff;}
.paperTooltip .tooltipBody .colorList ul li:nth-child(12) a{background:#ff00ff;}

.paperTooltip .tooltipBody .papersList{}
.paperTooltip .tooltipBody .title{background:#f0f0f0;color:#333;font:17px/32px AvenirMedium, Arial, Helvetica, sans-serif;}
.paperTooltip .tooltipBody .list ul li{border-bottom:1px solid #e6e6ee;}
.paperTooltip .tooltipBody .list ul li a{height:65px;display:block;color:#a6a6a6;text-decoration:none;font:17px/65px AvenirMedium, Arial, Helvetica, sans-serif; text-align:left; text-indent:80px;}

.paperTooltip .tooltipBody .list ul li:nth-child(1) a{background:url(../images/edPen/papers-lined-ico.png) 25px 8px no-repeat;}
.paperTooltip .tooltipBody .list ul li:nth-child(1) a:hover{background:url(../images/edPen/papers-lined-ico.png) 25px -143px no-repeat;color:#708090;}
.paperTooltip .tooltipBody .list ul li.select a{background:url(../images/edPen/papers-lined-ico.png) #EAEAEA 25px 8px no-repeat;}
.paperTooltip .tooltipBody .list ul li.select a:hover{background:url(../images/edPen/papers-lined-ico.png) #EAEAEA 25px -143px no-repeat;color:#708090;}
.paperTooltip .tooltipBody .list ul li:nth-child(2) a{background:url(../images/edPen/papers-graph-ico.png) 25px 8px no-repeat;}
.paperTooltip .tooltipBody .list ul li:nth-child(2) a:hover{background:url(../images/edPen/papers-graph-ico.png) 25px -143px no-repeat;color:#708090;}
.paperTooltip .tooltipBody .list ul li.select a{background:url(../images/edPen/papers-graph-ico.png) #EAEAEA 25px 8px no-repeat;}
.paperTooltip .tooltipBody .list ul li.select a:hover{background:url(../images/edPen/papers-graph-ico.png) #EAEAEA 25px -143px no-repeat;color:#708090;}
.paperTooltip .tooltipBody .list ul li:nth-child(3) a{background:url(../images/edPen/papers-plain-ico.png) 25px 8px no-repeat;}
.paperTooltip .tooltipBody .list ul li:nth-child(3) a:hover{background:url(../images/edPen/papers-plain-ico.png) 25px -143px no-repeat;color:#708090;}
.paperTooltip .tooltipBody .list ul li.select a{background:url(../images/edPen/papers-plain-ico.png) #EAEAEA 25px 8px no-repeat;}
.paperTooltip .tooltipBody .list ul li.select a:hover{background:url(../images/edPen/papers-plain-ico.png) #EAEAEA 25px -143px no-repeat;color:#708090;}


.fontColorTooltip{position:absolute;left:215px;z-index:100;}
.fontColorTooltip .arrow{text-align:center;}
.fontColorTooltip .tooltipBody{background:#fff;border-radius:8px; box-shadow:0px 0px 3px rgba(0,0,0,0.3);}
.fontColorTooltip .tooltipBody{width:296px;-moz-box-sizing:border-box;box-sizing:border-box;}
.fontColorTooltip .tooltipBody .colorList ul{padding:0px 10px;}
.fontColorTooltip .tooltipBody .colorList ul li{float:left;margin:10px 5px;height:auto;border:0px!important;padding:0px;-moz-box-sizing:border-box;box-sizing:border-box;}
.fontColorTooltip .tooltipBody .colorList ul li a{width:36px;height:36px;display:block; text-indent:-9999px;border-radius:50px;box-shadow:0px 0px 5px rgba(51,51,51,0.4);padding:0px;border:0px;margin:0px;}
.fontColorTooltip .tooltipBody .colorList ul li.select a{border:3px solid #CFF;-moz-box-sizing:border-box;box-sizing:border-box;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(1) a{background:#000000;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(2) a{background:#fff;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(3) a{background:#bb0000;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(4) a{background:#ff0000;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(5) a{background:#ff9900;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(6) a{background:#ffff00;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(7) a{background:#00ff00;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(8) a{background:#00ffff;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(9) a{background:#4d8cf2;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(10) a{background:#0000ff;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(11) a{background:#9900ff;}
.fontColorTooltip .tooltipBody .colorList ul li:nth-child(12) a{background:#ff00ff;}


.brushTooltip{position:absolute;left:275px;z-index:100;}
.brushTooltip .arrow{text-align:center;}
.brushTooltip .tooltipBody .titleBar{position:relative; text-align:center;font:17px/40px AvenirMedium, Arial, Helvetica, sans-serif;min-height:40px;}
.brushTooltip .tooltipBody .titleBar .title{ display:inline-block; font-family:AvenirMedium;margin:0px 70px;}
.brushTooltip .tooltipBody .titleBar .rightBtn{ position:absolute;right:10px;top:0px;}
.brushTooltip .tooltipBody .titleBar .rightBtn a{color:#7e7ed1;}

.brushTooltip .tooltipBody{background:#fff;border-radius:8px; box-shadow:0px 0px 3px rgba(0,0,0,0.3); overflow:hidden;}

.brushTooltip .tooltipBody .rangeBody{padding:5px 0px 5px 0px;margin:0px 5px 10px;}
.brushTooltip .tooltipBody .rangeBody input{vertical-align:middle;}
.brushTooltip .tooltipBody .rangeBody label{vertical-align:middle;font:15px AvenirMedium, Arial, Helvetica, sans-serif;margin:0px 0px 0px 10px;}
.brushTooltip .tooltipBody .rangeBody input[type='range'] {-webkit-appearance: none;border-radius:5px;background-color:#b6b6b6;height:1px;vertical-align: middle; outline:none;width:170px;}
.brushTooltip .tooltipBody .rangeBody  input[type='range']::-moz-range-track {-moz-appearance: none;}
.brushTooltip .tooltipBody .rangeBody  input[type='range']::-webkit-slider-thumb {-webkit-appearance: none !important; background:url(../images/edPen/range-ico.png) no-repeat;width:31px;height:33px;}
.brushTooltip .tooltipBody .rangeBody input[type='range']::-moz-range-thumb {-moz-appearance:none;background:url(../images/edPen/range-ico.png) no-repeat;width:31px;height:33px;border:0px;}


.brushTooltip .tooltipBody  .brushList{width:240px;}
.brushTooltip .tooltipBody  .brushList ul li{float:left;width:80px;height:80px;-moz-box-sizing:border-box;box-sizing:border-box;}
.brushTooltip .tooltipBody  .brushList ul li a{width:80px;height:80px; display:block;text-align:center;color:#333;font:12px AvenirMedium, Arial, Helvetica, sans-serif;padding:55px 0px 0px 0px;-moz-box-sizing:border-box;box-sizing:border-box; text-decoration:none;border-right:1px solid #c4c4c4;border-bottom:1px solid #c4c4c4;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(1) li a{border-top:1px solid #c4c4c4;}
.brushTooltip .tooltipBody  .brushList ul:last-child li a{border-bottom:none;}
.brushTooltip .tooltipBody  .brushList ul li:nth-child(3n) a{border-right:0px;}

.brushTooltip .tooltipBody  .brushList ul:nth-child(1) li:nth-child(1) a{background:url(../images/edPen/brush-pen-ico.png) center 12px no-repeat #f9f9f9;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(1) li:nth-child(2) a{background:url(../images/edPen/brush-highlight-ico.png) center 9px no-repeat #f9f9f9;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(1) li:nth-child(3) a{background:url(../images/edPen/brush-eraser-ico.png) center 14px no-repeat #f9f9f9;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(2) li:nth-child(1) a{background:url(../images/edPen/brush-line-ico.png) center 12px no-repeat #f9f9f9;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(2) li:nth-child(2) a{background:url(../images/edPen/brush-rectStroke-ico.png) center 12px no-repeat #f9f9f9;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(2) li:nth-child(3) a{background:url(../images/edPen/brush-rectFill-ico.png) center 12px no-repeat #f9f9f9;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(3) li:nth-child(1) a{background:url(../images/edPen/brush-ellipseStroke-ico.png) center 13px no-repeat #f9f9f9;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(3) li:nth-child(2) a{background:url(../images/edPen/brush-ellipseFill-ico.png) center 13px no-repeat #f9f9f9;}

.brushTooltip .tooltipBody  .brushList ul:nth-child(1) li:nth-child(1).select a{background:url(../images/edPen/brush-pen-ico.png) center 12px no-repeat #b4b4b4;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(1) li:nth-child(2).select a{background:url(../images/edPen/brush-highlight-ico.png) center 9px no-repeat #b4b4b4;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(1) li:nth-child(3).select a{background:url(../images/edPen/brush-eraser-ico.png) center 14px no-repeat #b4b4b4;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(2) li:nth-child(1).select a{background:url(../images/edPen/brush-line-ico.png) center 12px no-repeat #b4b4b4;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(2) li:nth-child(2).select a{background:url(../images/edPen/brush-rectStroke-ico.png) center 12px no-repeat #b4b4b4;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(2) li:nth-child(3).select a{background:url(../images/edPen/brush-rectFill-ico.png) center 12px no-repeat #b4b4b4;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(3) li:nth-child(1).select a{background:url(../images/edPen/brush-ellipseStroke-ico.png) center 13px no-repeat #b4b4b4;}
.brushTooltip .tooltipBody  .brushList ul:nth-child(3) li:nth-child(2).select a{background:url(../images/edPen/brush-ellipseFill-ico.png) center 13px no-repeat #b4b4b4;}


.clearBtnTooltip{}
.clearBtnTooltip{position:absolute;left:392px;z-index:100;}
.clearBtnTooltip .arrow{text-align:center;}
.clearBtnTooltip .tooltipBody{background:#fff;border-radius:8px; box-shadow:0px 0px 3px rgba(0,0,0,0.3); overflow:hidden;}
.clearBtnTooltip .tooltipBody .btn a{width:250px;display:block;font:17px/40px AvenirMedium, Arial, Helvetica, sans-serif; text-decoration:none;color:#6666cc;}
.clearBtnTooltip .tooltipBody .btn a:hover{color:#97d5ff;}





