/* CSS Document */

/* webkit 浏览器*/
#textfield::-webkit-input-placeholder { color:#b1bac5;}
#textarea::-webkit-input-placeholder { color:#b1bac5;}
/* 火狐浏览器 */
#textfield::-moz-placeholder { color:#b1bac5;}
#textarea::-moz-placeholder { color:#b1bac5;}




.sub-slide-bar.blogExpand .edit-menu{width:190px;margin:30px auto 0px;}
.sub-slide-bar.blogExpand .edit-menu ul li{margin-bottom:8px;}
.sub-slide-bar.blogExpand .edit-menu ul li:last-child{ text-align:center;border-bottom:none;}
.sub-slide-bar.blogExpand .edit-menu ul li a{width:190px;display:block;height:34px;color:#fff; text-decoration:none; text-align:center;font:15px/34px AvenirMedium, Arial, sans-serif;border-radius:4px;border:1px solid #fff;}
.sub-slide-bar.blogExpand .sub-nav ul li a{text-decoration:none;display:block;font:15px/26px AvenirMedium, Arial, sans-serif; color:#fff;margin:0px auto;padding:10px;width:190px;text-align:left; background:url(../images/list-ico.png) 20px center no-repeat;}
.sub-slide-bar.blogExpand .sub-nav ul li:last-child{background:none;}
.sub-slide-bar .student-list{width:210px;margin:37px auto 0px;}
.sub-slide-bar .student-list ul li:after{content:"";display:table;clear:both;}
.sub-slide-bar .student-list ul li {margin:0px 0px;padding:5px 10px;-moz-box-sizing:border-box;box-sizing:border-box;background:url(../images/nav-ico/student-list.png) center bottom no-repeat;}
.sub-slide-bar .student-list ul li{ position:relative;}
.sub-slide-bar .student-list ul li .info{margin-left:50px;width:140px;top:13px;-moz-box-sizing:border-box;box-sizing:border-box; position:absolute;}
.sub-slide-bar .student-list ul li .info .name{width:140px;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;font-size:14px;color:#fff;line-height:14px;}
.sub-slide-bar .student-list ul li.selected{background:#fff!important;}
.sub-slide-bar .student-list ul li.selected div{color:#54606c!important;}
.sub-slide-bar .student-list ul li:hover{background:#fff;}
.sub-slide-bar .student-list ul li:hover div{color:#54606c!important;}




.sub-slide-bar.blogCollapse .edit-menu{margin:30px auto 0px;}
.sub-slide-bar.blogCollapse .edit-menu ul li{margin-bottom:8px;margin-left:auto;margin-right:auto;width:50px;}
.sub-slide-bar.blogCollapse .edit-menu ul li:last-child{ text-align:center;border-bottom:none;}
.sub-slide-bar.blogCollapse .edit-menu ul li a{width:50px;display:block;height:34px;color:#fff; text-decoration:none; text-align:center;font:15px/34px AvenirMedium, Arial, sans-serif;border-radius:4px;border:1px solid #fff; text-indent:-9999px;}
.sub-slide-bar.blogCollapse .edit-menu ul li.my-blog a{ background:url(../images/blog/my-blog.png) center center no-repeat;}
.sub-slide-bar.blogCollapse .edit-menu ul li.student-blog a{ background:url(../images/blog/student-blog.png) center center no-repeat;}
.sub-slide-bar.blogCollapse .edit-menu ul li.following a{ background:url(../images/blog/following.png) center center no-repeat;}
.sub-slide-bar.blogCollapse .edit-menu ul li.my-blog a:hover{ background:url(../images/blog/my-blog-hover.png) center center no-repeat #fff;}
.sub-slide-bar.blogCollapse .edit-menu ul li.student-blog a:hover{ background:url(../images/blog/student-blog-hover.png) center center no-repeat #fff;}
.sub-slide-bar.blogCollapse .edit-menu ul li.following a:hover{ background:url(../images/blog/following-hover.png) center center no-repeat #fff;}
.sub-slide-bar.blogCollapse .edit-menu ul li.my-blog.selected a{ background:url(../images/blog/my-blog-hover.png) center center no-repeat #fff;}
.sub-slide-bar.blogCollapse .edit-menu ul li.student-blog.selected a{ background:url(../images/blog/student-blog-hover.png) center center no-repeat #fff;}
.sub-slide-bar.blogCollapse .edit-menu ul li.following.selected a{ background:url(../images/blog/following-hover.png) center center no-repeat #fff;}

.blog-list ul{padding:20px;-moz-box-sizing:border-box;box-sizing:border-box;}
.blog-list ul:after{content:"";clear:both;display:table;}
.blog-list ul li{background:#fff;box-shadow:0px 0px 3px rgba(0,0,0,0.4);border-radius:5px; overflow:hidden;margin-bottom:20px;}
.blog-list ul li header:after{content:"";clear:both;display:table;}
.blog-list ul li header .face{ position:absolute;top:10px;left:15px;}
.blog-list ul li header .info{float:left;margin:9px 0px 0px 90px;color:#505c69;}
.blog-list ul li header .info h1{font-size:15px;font-weight:normal;line-height:15px;}
.blog-list ul li header .info h2{font:12px arial;}
.blog-list ul li header .button{float:right;}
.blog-list ul li header .button ul{padding:13px 0px;}
.blog-list ul li header .button ul:after{content:"";clear:both;display:table;}
.blog-list ul li header .button ul li{float:left;box-shadow:none;background:none;margin: 0px 10px 0px 0px;padding:0px;text-indent:-9999px; cursor:pointer;}
.blog-list ul li .content{-moz-box-sizing:border-box;box-sizing:border-box;padding:35px 20px 20px 20px;margin:0px;width:100%;}
.blog-list ul li .content .title{font-size:14px;margin-bottom:10px;}
.blog-list ul li .content .detail{font-size:12px;}
.blog-list ul li .content .picture-content{ overflow:hidden;}

.my-blog-body{border-radius:5px;margin:20px;box-shadow:0px 0px 3px rgba(48,51,95,0.5);}
.my-blog-profile{overflow:hidden; position:relative;border-top-left-radius:5px;border-top-right-radius:5px;}
.my-blog-profile .user-face{ position:absolute;left:20px;top:20px;z-index:2;}
.my-blog-profile .title input{width:100%;color:#fff;background:none;height:26px;margin:10px 0px;border:0px; outline:none;}
.my-blog-profile .title .edit{ cursor:pointer;position:absolute;top:13px;right:15px; background:url(../images/gear.png) no-repeat;width:20px;height:20px; text-indent:-9999px;}
.my-blog-profile .title .edit:hover{ background:url(../images/gear-hover.png) no-repeat;}

.my-blog-list{background:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.my-blog-list ul:first-child{ text-align:center;color:#505c69;line-height:36px;}
.my-blog-list ul li{border-bottom:1px solid #e5e5e5;}
.my-blog-list ul:first-child li{margin:0px;}
.my-blog-list ul:last-child li{padding:10px 20px; position:relative;padding-right:40px;}
.my-blog-list ul:last-child li:hover{background:#f5f6fd;}
.my-blog-list ul:last-child li:last-child{border:0px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.my-blog-list ul:last-child li .title{color:#000;font-size:16px;}
.my-blog-list ul:last-child li .other:after{clear:both;content:""; display:table;}
.my-blog-list ul:last-child li .other div{float:left;color:#505c69;font-size:14px;margin-right:20px;}
.my-blog-list ul:last-child li .other .class-name{ position:relative;}
.my-blog-list ul:last-child li .more{ position:absolute; cursor:pointer;right:30px; background:url(../images/more.png) no-repeat;width:18px;height:18px; text-indent:-9999px;top:20px;}
.my-blog-list ul:last-child li .more:hover{background:url(../images/more.png) bottom no-repeat;}

.post-body{width:850px;background:#fff;margin:0px auto;padding:40px;-moz-box-sizing:border-box;box-sizing:border-box;box-shadow:0px 0px 6px rgba(0,0,0,0.2);}
.post-body .title{ text-align:center;font-size:18px;}
.post-body .details{font-size:14px;margin:20px 0px 0px;}











